/*!
 * Bootstrap v4.1.0 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*@import url("//fonts.googleapis.com/css?family=Merriweather+Sans:300|Merriweather:300");*/

.ugafooter__logo, .ugafooter__address, .ugafooter__links, .ugafooter__social {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .ugafooter__logo, .ugafooter__address {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .ugafooter__links, .ugafooter__social {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; } }

.ugafooter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px 0;
  border-width: 4px 0 0;
  border-style: solid;
  border-color: #BA0C2F;
  background: url("../img/background-arch.jpg") #000000 center center no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif; }
  .ugafooter--border-white {
    border-color: #FFFFFF; }
  .ugafooter--border-grey {
    border-color: #554F47; }
  .ugafooter--no-border {
    border-width: 0; }
  .ugafooter__container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .ugafooter__container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .ugafooter__container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .ugafooter__container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .ugafooter__container {
        max-width: 1140px; } }
  .ugafooter__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
    .ugafooter__row--primary {
      margin-bottom: 1em;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .ugafooter__row--secondary {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .ugafooter__links {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .ugafooter__logo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 2em; }
    @media (min-width: 768px) {
      .ugafooter__logo {
        margin-bottom: 0; } }
  .ugafooter__logo-link {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: 170px;
    background-color: transparent;
    background-image: url("../img/GEORGIA-V-CW.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0; }
    @media (min-width: 768px) {
      .ugafooter__logo-link {
        margin: 0;
        max-width: 300px;
        height: 80px;
        background-image: url("../img/GEORGIA-FS-CW.png");
        background-position: left top; } }
  .ugafooter__links-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
    line-height: 1.5;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 0;
            column-gap: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 768px) {
      .ugafooter__links-list {
        display: block;
        text-align: left;
        -webkit-column-count: 2;
                column-count: 2;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    @media (min-width: 992px) {
      .ugafooter__links-list {
        -webkit-column-count: 3;
                column-count: 3; } }
    .ugafooter__links-list-item {
      width: 50%;
      border: none;
      -webkit-column-break-inside: avoid;
              break-inside: avoid; }
      @media (min-width: 768px) {
        .ugafooter__links-list-item {
          width: 100%; } }
    .ugafooter__links-list-link {
      display: block;
      padding: .25em 1em;
      font-size: .75em;
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      -webkit-transition: color 100ms ease-in;
      transition: color 100ms ease-in; }
      .ugafooter__links-list-link:hover {
        color: #FFFFFF;
        text-decoration: none; }
      @media (min-width: 768px) {
        .ugafooter__links-list-link {
          border-left: 1px rgba(255, 255, 255, 0.3) solid;
          font-weight: 300; } }
  .ugafooter__address {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: 300;
    font-size: .75em;
    font-family: "Merriweather Sans", "Tahoma", "Helvetica Neue", Arial, sans-serif; }
    @media (min-width: 768px) {
      .ugafooter__address {
        text-align: left;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; } }
  .ugafooter__social {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em; }
    @media (min-width: 768px) {
      .ugafooter__social {
        margin-bottom: 0;
        text-align: left;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; } }
    .ugafooter__social-label {
      display: block; }
      @media (min-width: 768px) {
        .ugafooter__social-label {
          display: inline; } }
    .ugafooter__social-link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      -webkit-transition: color 100ms ease-in;
      transition: color 100ms ease-in; }
      .ugafooter__social-link:hover {
        color: #FFFFFF;
        text-decoration: none; }
